<a href="https://colab.research.google.com/github/girish-kumar-l/python-simplified-for-datascience/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basis**

**Variables:**
1. Variables are case sensitive | Variable starts with alpha or _ | It can only contain alpha, num, _ | python reserved keywords are not used.
2. Created when a value is assigned to it. No declaration needed
3. No particular type. Reassigning different data type can be dome.
4. Type() function retruns the datatype of the variable

In [ ]:
a = 10
A =15 #different from a
print(a)
print(A)

10
15

In [ ]:
a= 10
b= 30.01
c = "Girish"
d = 'Kumar' #note: the assignment is in single quotes
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
$var1 = "Hello" #variable starting with speical char would fail during compilation

SyntaxError: ignored

In [ ]:
m,n,o = "Mango","Nest","Orange" #many-to-many assignment of variable
print(m)
print(n)
print(o)

Mango
Nest
Orange

In [ ]:
m=n=o="Mangoes" #one to many assignment of variables
print(m)
print(n)
print(o)

Mangoes
Mangoes
Mangoes

In [ ]:
my_list =['Mangoes','Nest','Oranges'] #unpakcing from a list/tuple into a set of variables can also be done on python
m,n,o=my_list
print(m)
print(n)
print(o)

Mangoes
Nest
Oranges

**Data Types:**
Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType


In OOP, types are significantly important. So python offers casting facility where you can cast to int(), float(), or str() datatype while assigning values to variables. However, at times we may need to typecast/convert the variables from one data type to another. Few examples are as below. There are provision for that as well.*italicised text*

In [ ]:
a =10
print(a)
b =float(a) #typecasting to float datatype
print(b)

10
10.0

**Strings:**

1. Like other langs, string is an array of chars.
2. Single quotes & Double quotes are treated same in python for a string assignment.
3. Tripple quotes is used for multi line assignment

Below are some important sring operations & **methods**

In [ ]:
my_string = "This is my string"
print(len(my_string)) #return length of the strong
for x in my_string:
  print(x)  #iterating the string variable by each char

17

In [ ]:
my_string = "This is my string"
print("is" in my_string) #returns true if the char/sub-string is present in my_string
print("an" not in my_string) #returns true if the char/sub-string is not present in my_string

True
True

In [ ]:
b = "Hello, World!"
print(b[2:5]) #here 2 is the starting index, 5 is the ending index. 
              #These are optional values. If 2 is not given, it will slice from begining to 5th index

llo

In [ ]:
my_string = "This, is my string " 
print(my_string.upper())  #converts to upper case
print(my_string.lower())  #converts to lower case
print(my_string.split(','))  #splits into multiple strings
print(my_string.replace('i','H'))  #replace chars

THIS, IS MY STRING
this, is my string
['This', ' is my string ']
ThHs, Hs my strHng

Note: Concate mutiple strings using + or , operator. However, we need to use format() method to concate other datatypes.

In [ ]:
my_string = "This is my string {}"
print(my_string.format(11))
my_string_new = "One {} two {} three {}"
print(my_string_new.format(1,2,3))

This is my string 11
One 1 two 2 three 3

Below are some of the main string methods that are used more often than not.

1. capitalize()	Converts the first character to upper case
2. casefold()	Converts string into lower case
3. center()	Returns a centered string
4. count()	Returns the number of times a specified value occurs in a string
5. encode()	Returns an encoded version of the string
6. endswith()	Returns true if the string ends with the specified value
7. expandtabs()	Sets the tab size of the string
8. find()	Searches the string for a specified value and returns the position of where it was found
9. format()	Formats specified values in a string
10. index()	Searches the string for a specified value and returns the position of where it was found
11. isalnum()	Returns True if all characters in the string are alphanumeric
12. isalpha()	Returns True if all characters in the string are in the alphabet
13. isdecimal()	Returns True if all characters in the string are decimals
14. isdigit()	Returns True if all characters in the string are digits
15. isidentifier()	Returns True if the string is an identifier
16. isnumeric()	Returns True if all characters in the string are numeric
17. isupper()	Returns True if all characters in the string are upper case
18. upper()	Converts a string into upper case
19. replace()	Returns a string where a specified value is replaced with a specified value
20. rfind()	Searches the string for a specified value and returns the last position of where it was found
21. split()	Splits the string at the specified separator, and returns a list
22. join()	Joins the elements of an iterable to the end of the string

**Booleans:**

1. One of two values - True or False
2. Any number other than 0 is True. Any string other than empty is True

**Collections:**

There are 4 built-in collection data types supported in python
1. List - multiple items in single variable. Ordered & Changable
2. Tuples - multiple items in single variable. Ordered & Unchangable
3. Set - unordered, unchangeable, and unindexed. No Duplicates
4. Dictionary - ordered** and changeable key-value pairs. No duplicates

In [ ]:
#everything about the lists
thislist = ["apple", "banana", "cherry"]

#adding items in the list
thislist.append("orange")
thislist.insert(1, "orange")

#changing items in the list
thislist[1] = "blackcurrant"


#removing items from the list
thislist.remove("banana")
thislist.pop(1)

#sorting items in the list
thislist.sort()
thislist.sort(reverse = True) #reverse sort

#copying to a new list
mylist = thislist.copy()

#joining 2 lists
list1 = ['One','Two','Three']
list2 = ['Four','Five']
list3 = list1 + list2

In [ ]:
#everything about the tuples
thistuple = ("apple", "banana", "cherry") #order is fixed & cant be changed

#accessing tuple
print(thistuple[1])
print(thistuple[2:5])

#adding/modifying/removing is not possible. Covert tuple to list and perform these actions

In [ ]:
#everything about the sets
myset = {"apple", "banana", "cherry"}

thisset = {"apple", "banana", "cherry", "apple"} #duplicates will be removed while print

#adding items into tuples
thisset.add("orange")
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical) #we can pass list, tuple as well in the update() method

#removing items from tuples
thisset.discard("banana")
thisset.clear() #clearing the whole set

#joining 2 sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)


#sets has various important functions like union, intersection, isdisjoint, difference, symmetrical_difference etc

In [ ]:
#everything about the dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#accessing
x = thisdict.get("model")
x = thisdict.keys() #returns all the keys in the dict variable

#updating
thisdict.update({"year": 2020})

#adding
thisdict.update({"color": "red"})

#deleting
thisdict.pop("model")
del thisdict #delete the complete dictionary variable
thisdict.clear() #empties the dictionary variable

#copying
mydict = thisdict.copy()

#nested dictionaries are also possible

Skipping if-else, while, for loops
Skipping functions and arguments